.btn {
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  background-color: #343434;
  color: #f1f1f1;
  font-family: sans-serif;
  font-size: medium;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn:hover {
  background-color: #424141;
}

.btnAdd {
  border: none;
  width: 200px;
  height: 36px;
  border-radius: 4px;
  background-color: #254b9c;
  color: #fff;
  font-weight: bold;
}

.btnDel {
  border: none;
  background-color: #FFF;
  cursor: pointer;
}